<!-- Footer Start -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="social-links">
						<a href="tel:00201009817012" class="twitter"><i class="fa fa-whatsapp"></i></a>
						<a href="https://www.facebook.com/groups/448734555286031/?ref=share_group_link"
							class="facebook"><i class="fa fa-facebook"></i></a>

					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <a href="index.html">FLFS</a>. All Rights Reserved<br>
			Designed By <a href="https://www.linkedin.com/in/mohamed-ramadan2393/">Eng:MR</a>
		</div>
	</div>
</footer>
<!-- Footer end -->
