<header id="header">
	<div class="container-fluid">

		<div id="logo" class="pull-left">
			<!-- Uncomment below if you prefer to use text logo -->
			<!-- <h1><a href="index.html" class="scrollto">Tech Conference</a></h1> -->
			<!-- <div class="logos">
					<img src="img/alx-logo.png" alt="Logo" class="alx-logo" />
					<img src="img/FlFS-Logo.png" alt="Logo" />
				</div> -->


		</div>

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li id="nav-home"><a href="javascript:void(0);" onclick="changePage('home');">home</a></li>
				<!-- <li><a href="about.html">About</a></li> -->
				<li id="nav-speaker"><a href="javascript:void(0);" onclick="changePage('speaker');">Speakers</a></li>
				<li id="nav-agenda"><a href="javascript:void(0);" onclick="changePage('agenda');">Agenda</a></li>
				<li id="nav-venue"><a href="javascript:void(0);" onclick="changePage('venue');">Venue</a></li>
				<li><a href="scientificCommittee.html">Scientific Committee</a></li>
				<li><a href="organizingCommittee.html">Organizing Committee</a></li>
				<li><a href="important_links.html">Important links</a></li>
				<!-- <li><a href="contact.html">Tickets</a></li> -->


				<!-- <li><a href="login.html">Login</a></li> -->
			</ul>
		</nav><!-- #nav-menu-container -->
	</div>
</header>
