<!-- Intro Section Start-->
<section id="intro">
	<div class="intro-container">

		<div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
			<div class="logos">
				<img src="img/alx-logo.png" alt="">
			</div>
			<ol class="carousel-indicators"></ol>

			<div class="carousel-inner" role="listbox">

				<div class="carousel-item active">
					<div class="carousel-background"><img src="img/SecHeader.jpg" alt=""></div>
					<div class="carousel-container">
						<div class="carousel-content">
						<section id="conference">
								<div class="container">
									<div class="conference-header">
										<h2 class="conference-title">
											"Future of Livestock and Food Security"
											<br> 
											<span class="conference-subtitle">6<sup>th</sup> International Conference of Animal and Fish Production Department,</span>
											<br>
											<span class="conference-subtitle">Faculty of Agriculture, Alexandria University</span>
											<br>
											<span class="conference-subtitle">and</span>
											<br>
											<span class="conference-subtitle">20<sup>th</sup> Conference of the Egyptian Society of Animal Production</span>
										</h2>
									</div>
								</div>
							</section>							  
							<!-- <p>
								Organized by <br>
								Animal and Fish Production Department, Faculty of Agriculture, Alexandria University in
								cooperation with the Egyptian Society of Animal Production, Egypt
								<br>October 31-November 2, 2023
							</p> -->
							<!-- <a href="" class="btn-get-started scrollto">Registration Now</a> -->
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-background"><img src="img/thirdHeaderImg.jpg" alt=""></div>
					<div class="carousel-container">
						<div class="carousel-content">
							<h1 class="header-countdown">"FLFS-2023 Conference"</h1>
							<h2 class="coming-soon">COMING SOON</h2>
							<div class="countdown">00 : 00 : 00 : 00</div>
							<!-- <a href="" class="btn-get-started scrollto">Registration Now</a> -->
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-background"><img src="img/fifthHeaderImg.jpg" alt=""></div>
					<div class="carousel-container">
						<div class="carousel-content">
							<h2>Invitation</h2>
							<p>
								During October 31-November 3, 2023, the Animal and Fish Production Department, Faculty of Agriculture,
								Alexandria University, and The Egyptian Society of Animal Production, Egypt will hold the joint Conference on “Future of Livestock and Food Security".
									The conference emphasizes the global challenges and opportunities for animal research. We would like to invite colleagues to participate in this conference.

							</p>
							<!-- <a href="" class="btn-get-started scrollto">Registration Now</a> -->
						</div>
					</div>
				</div>

				<div class="carousel-item">
					<div class="carousel-background"><img src="img/sixthHeaderImg.jpg" alt=""></div>
					<div class="carousel-container">
						<div class="carousel-content">
							<h2>We are A Community</h2>
							<p>
								Full articles and abstracts will be published in a special issue at Journal of Egyptian
								Society of Animal Production (ESAP). <br>
								Proceeding, brochures and fliers will be provided along with the bag of materials upon
								registration site.

							</p>
							<!-- <a href="" class="btn-get-started scrollto">Registration Now</a> -->
						</div>
					</div>
				</div>
				<div class="d-flex">
					<div class="p-2 flex-grow-1">
						<img src="img/middle_logo.jpeg" alt="" class="left-img">
					</div>
					<div class="p-2 flex-grow-1">
						<img src="img/FlFS-Logo.png" alt="" class="middle-img">
					</div>
					<div class="p-2">
						<img src="img/alx-logo.png" alt="" class="right-img">
					</div>
				</div>
				

			</div>

			<a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>
	</div>
</section>
<!-- #intro end -->

<!-- About Section Start-->
<section class="section section-divider gray about" id="about">
	<p class="about-us">About Us</p>

	<div class="container">

		<div class="about-banner">
			<img src="img/oldConfImg/1.jpeg" width="509" height="459" loading="lazy" class="w-100 about-img">
			<img src="img/oldConfImg/2.jpeg" class="w-100 about-img" width="530" height="459" loading="lazy" alt="">
			<img src="img/oldConfImg/3.jpeg" class="w-100 about-img" width="530" height="459" loading="lazy" alt="">


			<!-- <img src="./assets/images/sale-shape-red.png" width="216" height="226" alt="get up to 50% off now"
		  class="abs-img scale-up-anim"> -->
		</div>

		<div class="about-content">

			<span class="h2 section-title">
				Future of Livestock’s and Food Security
				<!-- <span class="span">in Town!</span> -->
			</span>
			<br>
			<h4 class="Objectives">Objectives</h4>


			<!-- <p class="section-text">
				<span style="font-weight: bold;">•</span> The conference aims to encourage participation of scientists
				and stakeholders involved in livestock production industry to offer a great platform for learning,
				exchange opinions, cooperation and interaction academics. Also, provide an international idea for
				scientists and animal production professionals to Exchange Ideas, Knowledge and Networking. <br>
				<span style="font-weight: bold;">•</span> Encouraging participation and interaction between scientists,
				researchers and farm owners in developing and finding a solution to the problems of animal production
				systems. <br>
				<span style="font-weight: bold;">•</span> Developing livestock, and fish for self-sufficiency and
				achieving food security from animal protein. <br>

			</p> -->
			<p>
				The conference provides opportunities to participated scientists, researchers, stakeholders, and producers to meet, discuss, and exchange knowledge, ideas, and opinions. 
				<br>  
				Such a gathering of prominent participants should help better understanding of problems and challenges that face animal production as well as find practical solutions to such problems. 
				<br>
				The conference also creates the chance for participants from different institutions to cooperate and benefit from each other. 
				<br>
				We are doing our best to make a conference good contribution to the animal production industry as the previous conferences if not better. 
			</p>
			<hr>
			<h4 class="Topics">Topics</h4>
			<p>
				<span style="font-weight: bold;">•</span> Animal welfare, health, products and food security.
				<br>
				<span style="font-weight: bold;">•</span> Alternative feed resources for farm animals in marginal land.<br>
				<span style="font-weight: bold;">•</span> Salt-tolerant forages in farm animals feeding.
				wastes.<br>
				<span style="font-weight: bold;">•</span> Applicable strategies in utilization of Agri-industrial wastes.<br>
				<span style="font-weight: bold;">•</span> Precise and smart livestock farming.<br>
				<span style="font-weight: bold;">•</span> Climate change and livestock sustainability.<br>
				<span style="font-weight: bold;">•</span> Animal reproduction strategies for sustainable livestock production. <br>
				<span style="font-weight: bold;">•</span> Traditional and molecular approaches of genetics improvement of farm animals.<br>
				<span style="font-weight: bold;">•</span> Modern technology in the animal production industry.<br>
				<span style="font-weight: bold;">•</span> Bio & Nano-technology approaches in livestock production.<br>
				<span style="font-weight: bold;">•</span> Fish farming and sustainable aquaculture.<br>
				<span style="font-weight: bold;">•</span> Marketing of livestock products.<br>

			</p>
			<div class="button-container">
				<a class="previousEvents_btn" href="Previous Events.rar" download>
					Previous Events
				</a>
			</div>



			<!-- <button class="btn btn-hover">Order Now</button> -->

		</div>

	</div>
</section>

<!-- About Section end -->


<!-- start the image slider -->
<div class="slide-container swiper">
	<hr>
	<header class="section-header">
		<h1 style="color: #10317d " ;>Under the Auspices</h1>
	</header>
	<div class="slide-content">
		<div class="card-wrapper swiper-wrapper">
			<div class="card swiper-slide">
				<div class="image-content">
					<span class="overlay"> </span>
					<div class="card-image">
						<img src="images/Dr-1.jpeg" alt="Original Dr. Pepper Soda" class="card-img" />
					</div>
				</div>

				<div class="card-content">
					<h2 class="soda-name">Prof. Dr. Abdelaziz Konsowa</h2>
					<p class="description">
						President of Alexandria University
					</p>

					<!-- <button class="button"></button> -->
				</div>
			</div>
			<div class="card swiper-slide">
				<div class="image-content">
					<span class="overlay"> </span>
					<div class="card-image">
						<img src="images/Dr-2.jpeg" alt="Canada Dry Soda" class="card-img" />
					</div>
				</div>

				<div class="card-content">
					<h2 class="soda-name"> Prof. Dr. Mohamed Bahieeldeen</h2>
					<p class="description">
						Dean of the Faculty of Agriculture
					</p>

					<!-- <button class="button">View more</button> -->
				</div>
			</div>
			<div class="card swiper-slide">
				<div class="image-content">
					<span class="overlay"> </span>
					<div class="card-image">
						<img src="images/Dr-3.jpeg" alt="La Croix Sparkling Water" class="card-img" />
					</div>
				</div>

				<div class="card-content">
					<h1 class="soda-name">Prof. Dr. Sobhy Sallam</h1>
					<p class="description">
						Head of Animal and Fish Production Department <br>
						Agricultural Syndicate of Alexandria
						Conference Coordinator

					</p>

					<!-- <button class="button">View more</button> -->
				</div>
			</div>

			<div class="card swiper-slide">
				<div class="image-content">
					<span class="overlay"> </span>
					<div class="card-image">
						<img src="images/Dr-5.jpeg" alt="Coca Cola Zero Soda" class="card-img" />
					</div>
				</div>

				<div class="card-content">
					<h2 class="soda-name">Prof. Dr. Mohmoud A Sharaby</h2>
					<p class="description">
						Professor of Animal Breeding and Genetics
						Animal and Fish Production Department
						Conference President

					</p>

					<!-- <button class="button">View more</button> -->
				</div>
			</div>
			<div class="card swiper-slide">
				<div class="image-content">
					<span class="overlay"> </span>
					<div class="card-image">
						<img src="images/Dr-7.jpeg" alt="Coca Cola Zero Soda" class="card-img" />
					</div>
				</div>

				<div class="card-content">
					<h2 class="soda-name"> Prof. Dr. Samy Abou-Bakr Mahmoud</h2>
					<p class="description">
						President of The Egyptian Society of Animal Production 
						and Conference General Secretary						
					</p>

					<!-- <button class="button">View more</button> -->
				</div>
			</div>

		</div>
	</div>

	<div class="swiper-button-next swiper-nav-btn"></div>
	<div class="swiper-button-prev swiper-nav-btn"></div>
	<div class="swiper-pagination"></div>
</div>
<!-- end the image slider -->


<section>

</section>

<!-- Speaker Section Start -->

<!-- <section id="speaker">
	<div class="container">
		<header class="section-header">
			<h3>Speakers</h3>
		</header>
		<div class="row">
			<div class="col-md-6 img-cols">
				<div class="img-col">
					<img class="img-fluid" src="img/speaker-1.jpg">
				</div>
			</div>
			<div class="col-md-6 content-cols content-cols-right">
				<div class="content-col">
					<h3>Robyn Brown</h3>
					<h4>Product Designer</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit orci, tincidunt sit amet arcu eu, iaculis malesuada lectus. Sed non lectus at libero vulputate commodo egestas eu nulla.
					</p>
					<div class="social-links">
						<a href="https://www.freewebsitecode.com/" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/freewebsitecode/" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://www.freewebsitecode.com/" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos" class="google-plus"><i class="fa fa-youtube"></i></a>
						<a href="https://www.freewebsitecode.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 img-cols d-block d-md-none">
				<div class="img-col">
					<img class="img-fluid" src="img/speaker-2.jpg">
				</div>
			</div>
			<div class="col-md-6 content-cols  content-cols-left">
				<div class="content-col">
					<h3>Simon Powell</h3>
					<h4>Cloud Architect</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit orci, tincidunt sit amet arcu eu, iaculis malesuada lectus. Sed non lectus at libero vulputate commodo egestas eu nulla.
					</p>
					<div class="social-links">
						<a href="https://www.freewebsitecode.com/" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/freewebsitecode/" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://www.freewebsitecode.com/" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos" class="google-plus"><i class="fa fa-youtube"></i></a>
						<a href="https://www.freewebsitecode.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 img-cols d-none d-md-block">
				<div class="img-col">
					<img class="img-fluid" src="img/speaker-2.jpg">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 img-cols">
				<div class="img-col">
					<img class="img-fluid" src="img/speaker-3.jpg">
				</div>
			</div>
			<div class="col-md-6 content-cols content-cols-right">
				<div class="content-col">
					<h3>Britney Swanson</h3>
					<h4>Data Analyst</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit orci, tincidunt sit amet arcu eu, iaculis malesuada lectus. Sed non lectus at libero vulputate commodo egestas eu nulla.
					</p>
					<div class="social-links">
						<a href="https://www.freewebsitecode.com/" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/freewebsitecode/" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://www.freewebsitecode.com/" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos" class="google-plus"><i class="fa fa-youtube"></i></a>
						<a href="https://www.freewebsitecode.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 img-cols d-block d-md-none">
				<div class="img-col">
					<img class="img-fluid" src="img/speaker-4.jpg">
				</div>
			</div>
			<div class="col-md-6 content-cols  content-cols-left">
				<div class="content-col">
					<h3>Matthew Lyons</h3>
					<h4>HR Specialist</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit orci, tincidunt sit amet arcu eu, iaculis malesuada lectus. Sed non lectus at libero vulputate commodo egestas eu nulla.
					</p>
					<div class="social-links">
						<a href="https://www.freewebsitecode.com/" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/freewebsitecode/" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://www.freewebsitecode.com/" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos" class="google-plus"><i class="fa fa-youtube"></i></a>
						<a href="https://www.freewebsitecode.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 img-cols d-none d-md-block">
				<div class="img-col">
					<img class="img-fluid" src="img/speaker-4.jpg">
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- Speaker Section End -->

<!-- Agenda Section Start -->
<!-- <section id="agenda">
	<div class="container">
		<header class="section-header">
			<h3>Our Agenda</h3>
		</header>
		<div class="row" style="padding: 0;">
			<div class="col-6 text-right">
				<h2>10:00</h2>
			</div>
			<div class="col-6 text-left">
				<h2>Meet & Greet</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right">
				<h2>12:00</h2>
			</div>
			<div class="col-6 text-left">
				<h2>Sessions Stage</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right">
				<h2>13:00</h2>
			</div>
			<div class="col-6 text-left">
				<h2>Lunch</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right">
				<h2>14:00</h2>
			</div>
			<div class="col-6 text-left">
				<h2>Networking</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right">
				<h2>16:00</h2>
			</div>
			<div class="col-6 text-left">
				<h2>Q & A Session</h2>
			</div>
		</div>
	</div>
</section>
	Agenda Section End -->
<!-- Ticket Section Start -->

<hr>
<section id="ticket">
    <div class="container">
        <header class="section-header">
            <h1 style="color: #10317d;">Tickets</h1>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ticket Type</th>
                                <th>Non-ESAP Member</th>
                                <th>ESAP Member</th>
                                <th>Buy Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Full Paper</td>
                                <td>1600 LE</td>
                                <td>1400 LE</td>
                                <td>                
                                    <div class="single-ticket">
                                        <a href="https://docs.google.com/forms/d/1CJpzshCDqh4xCbFPwMJqDkpjQCWssF0BD39twT5FMtU/edit">Buy</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Abstract</td>
                                <td>1300 LE</td>
                                <td>1100 LE</td>
                                <td>                
                                    <div class="single-ticket">
                                        <a href="https://docs.google.com/forms/d/1mtaqTfiPlutsSN-1S3Bwx3DhfmpLL7OhIkBjRDu-ZQw/edit">Buy</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Audience</td>
                                <td>1100 LE</td>
                                <td>900 LE</td>
                                <td>                
                                    <div class="single-ticket">
                                        <a href="https://docs.google.com/forms/d/1ZkondLKsS07iKeg2GDFfHk0veh1owqUQ5F9-OD-mhsI/edit">Buy</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>A Accompanying Person</td>
								<td colspan="2" class="text-center">800 LE</td>
                                <td>                
                                    <div class="single-ticket">
                                        <a href="https://docs.google.com/forms/d/1g0LgDFKhWF-qckUYJDSIAe5RF4LB6HrP0-Nf0jr1L8E/edit">Buy</a>
                                    </div>
                                </td>
                                <tr>
                                    <td>Foreigners</td>
                                    <td colspan="2" class="text-center">1000 $</td>
                                    <td>                
                                        <div class="single-ticket">
                                            <a href="https://docs.google.com/forms/d/1g0LgDFKhWF-qckUYJDSIAe5RF4LB6HrP0-Nf0jr1L8E/edit">Buy</a>
                                        </div>
                                    </td>
                                </tr>

                        </tbody>
                    </table>
                </div>
				<div class="section-deadlines">
					<div class="container-deadlines">
					  <div class="section-content">
						<p class="deadline-text">
						  Deadline for abstracts submission: <span style="color: red;">August 1st, 2023.</span><br>
						  Deadline for full articles submission: <span style="color: red;">September 1st, 2023.</span><br>
						  Deadline for receiving registration fees: <span style="color: red;">October 1st, 2023.</span>
						</p>
					  </div>
					</div>
				  </div>
				  <hr>
				  <div class="section-details">
					<div class="container-deadlines">
					  <div class="section-content">
						<p class="details-text">
						  The fees will be transferred to Banque Misr, Giza branch. <span style="color: red;"> Account No: 1330001000000423.</span><br>
						  By the name of <span style="color: red;">Egyptian Society of Animal Production (ESAP).</span><br>
						  For more details, contact Mr. Eslam Ezz-Eldin (ESAP Secretary) at 01004509879 / 01143346617.<br>
						  Registration of participants will take place at College Conference Hall, Faculty of Agriculture, Alexandria University on Tuesday, Oct. 31, 2023, 9:00 - 10:00 AM.<br>
						</p>
						<hr>
						<ol class="fees-list">
							<li>Registration fees will cover:</li>
						  <li>Attendance of all conference scientific events.</li>
						  <li>Coffee breaks, snacks, lunch, and social event.</li>
						  <li>Printed materials, local transportation, and proceedings of the conference papers.</li>
						</ol>
					  </div>
					</div>
				  </div>
				  
            </div>
            <hr>

        </div>
    </div>
</section>
<!-- Ticket Section End -->



<!-- Venue Section Start -->
<section id="venue">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="img-col">
					<img class="img-fluid" src="img/Alx-lib.jpg">
				</div>
			</div>
			<div class="col-md-6 des-cols">
				<div class="des-col">
					<h2>Venue</h2>
					<h4><span style="font-size: large; font-weight: bold;">٧ </span>شارع افلاطون, الشاطئ, الاسكندرية
					</h4>
					<p>The conference will be held at the Faculty of Agriculture, Alexandria University, Elshatby,
						Alexandria, Egypt.</p>
					<div class="button-container">
						<a href="https://www.google.com/maps/place/Faculty+of+Agriculture+-+Alexandria+University/@31.206135,29.9197036,17z/data=!3m1!4b1!4m6!3m5!1s0x14f5c38786151cb5:0x4bd438b27a528177!8m2!3d31.206135!4d29.9197036!16s%2Fg%2F1ynnq2vnf target="
							_blank" class="my-button">Open Google Maps</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<hr>
<!-- Venue Section End -->

<!--
	
-->
<div class="contact-card">
	<div class="contact-image">
	  <img src="/images/Dr-6.jpeg" alt="Contact Person">
	</div>
	<div class="contact-info">
	  <h2 style="color: #10317d;">Dr. Marwa Elfeky</h2>
	  <div class="field">
		<h4>Email</h4>
		<a href="mailto:marwa_elfeky2009@yahoo.com" >Dr-Marwa Elfeky</a>
	</div>
	<div class="field">
		<h4>Phone 1</h4>
		<a href="tel:00201009817012">01009817012</a>
	</div>
	<div class="field">
		<h4>Phone 2</h4>
		<a href="tel:00201271987148">01271987148</a>
	</div>
	</div>
  </div>



