<!-- Banner Section Start-->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h1 class="banner-header">
							Venue
						</h1>
					</div>
					<div class="col-md-6">
						<p class="banner-nav">
							<span class="banner-box">
								<a href="index.html">Home</a>
								<a href="venue.html">Venue</a>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Banner Section end -->

<!-- Venue Section Start -->
<!-- Venue Section Start -->
<section id="venue">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="img-col">
					<img class="img-fluid" src="./../img/Alx-lib.png">
				</div>
			</div>
			<div class="col-md-6 des-cols">
				<div class="des-col">
					<h2>Venue</h2>
					<p>The forum events will be held at the Faculty of Agriculture, Suez Canal University Campus, Ismailia, Egypt.</p>
					<div class="button-container">
						<a href="https://www.google.com/maps/place/Faculty+of+Agriculture+Suez+Canal+University/@30.6205382,32.2720349,15z/data=!4m2!3m1!1s0x0:0xd0aad6e99381a1cf?sa=X&ved=2ahUKEwjazPuPjbKEAxX_VqQEHdavCpQQ_BJ6BAgQEAA"
							_blank" class="my-button">Open Google Maps</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<hr>
<!-- Venue Section End -->
<!-- Venue Section End -->
